body {
  box-sizing: border-box;
  margin: 0 auto;
}

.gallery {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  margin: 24px auto;
  gap: 24px;
  justify-content: center;
}

.gallery-item {
  list-style: none;
}

.gallery-image {
  width: 360px;
  height: 200px;
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image:hover {
  border: 3px solid blue;
  transform: scale(1.06);
}

.modal-img {
  max-width: 1112px;
  max-height: 640px;
}
